@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

* {
    font-family: "Carter One", sans-serif;
}

body{
    background: linear-gradient(
        to bottom, 
        #0077ff, 
        #3aa657
    )center fixed;
    background-size: cover;
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.typed{
    font-family: 'Cairo', sans-serif;
    text-align: center;
}
#next{
    background: radial-gradient(
        circle,
        #00fff0,
        #1eaf80
    );
    width: 140px;
    height: 40px;
    transition: 0.4s;
    border: none;
    border-radius: 20px;
}
#next:hover{
    background: radial-gradient(
        circle,
        #59f0ca,
        #1eaf80
    );
    width: 180px;
    height: 65px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

#selectNinja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e{
    color: #73edc7;
    margin-top: 12px;
}
.n{
    color: #73edc7;
    margin: 0px;
}
.choose{
    color: #00fff0;
}
.containers {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ninja-card{
    transition: all 0.5s;
    width: 165px;
    height: 110px;
    background: linear-gradient(
        #42baff,
        #007FFF
    );
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 12px;
    border: none;
    display: flex;
    border: none;
}
.ninja-card:hover{
    width: 175px;
    height: 110px;
    background: linear-gradient(
        #0760ba,
        #29b1ff
    );
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 12px;
    border: none;
    display: flex;
    cursor: pointer;
    box-shadow: 0 5px 8px 2px #42baff;
}
.imgs{
    width: 57px;
}
.habilitys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cancel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#version{
    color: #fff;
}

#sectionBotonNinja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botonNinja{
    background: radial-gradient(
        #73c0ed,
        #00e5ff
    );
    color: black;
    width: 180px;
    height: 60px;
    border-radius: 12px;
    font-family: "Carter One", sans-serif;
    box-shadow: 0 5px 6px 1px #73c8ed;
    transition: all 0.3s;
    border: none;
    text-align: center;
}
.botonNinja:hover{
    cursor:pointer;
    width: 195px;
    height: 80px;
    background: radial-gradient(
        #00e5ff,
        #73c0ed
    );
    border-radius: 12px;
    font-family: "Carter One", sans-serif;
    box-shadow: 0 6px 8px 1px #73c8ed;
}

#selectAttack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #272727;
    height: 100%;
}
.attackButton{
    width: 105px;
    height: 40px;
    box-shadow: 7px 10px 12px 5px #29335c;
    text-shadow: 5px 5px #424e7a;
    margin: 7px;
    background-color: #6ECCAF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
#restart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botonRestart{
    font-family: "Carter One", sans-serif;;
    width: 170px;
    height: 45px;
    background: linear-gradient(
        #00fff0,
        #1eaf80
    );
    box-shadow: 7px 10px 12px 5px #29335c;
    transition: 0.6s;
    border: none;
    border-radius: 8px;
}
#botonRestart:hover{
    font-family: "Carter One", sans-serif;;
    width: 200px;
    height: 70px;
    background: linear-gradient(
        #1eaf80,
        #00fff0
    );
    box-shadow: 7px 10px 12px 5px #29335c;
    cursor: pointer;
    transition: 0.4s;
}
#messageAlertFinish {
    background: linear-gradient(
        #5467b4,
        #00e5ff
    );
    border-radius: 14px;
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 4px #2aa6d9;
}
.victorys{
    display: flex;
}
.victorys1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 34px;
}
.victorys2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 34px;
}

.cancel {
    background: linear-gradient(
        #73c0ed,
        #00e5ff
    );
    color: black;
    width: 180px;
    height: 60px;
    border-radius: 12px;
    font-family: "Carter One", sans-serif;
    box-shadow: 0 5px 6px 1px #73c8ed;
    transition: all 0.3s;
    border: none;
    text-align: center;
}
.cancel:hover {
    cursor:pointer;
    width: 195px;
    height: 80px;
    background: radial-gradient(
        #00e5ff,
        #73c0ed
    );
    border-radius: 12px;
    font-family: "Carter One", sans-serif;
    box-shadow: 0 6px 8px 1px #73c8ed;
}

input{
    display: none;
}
input:checked + label{
    width: 185px;
    background: radial-gradient(
        circle,
        #30e2ff,
        #176b99
    );
    color: black;
    box-shadow: 0 6px 11px 3px #000;
    transition: 0.3s;
    margin: 7px;
    border-radius: 12px;
}

@media(max-width: 1024px){
    body{
        font-family: "Carter One", sans-serif;
        background: linear-gradient(
        to bottom, 
        #0077ff, 
        #3aa657
    ) center fixed;
        background-size: cover;
    }

    #next{
        background: radial-gradient(
        circle,
        #00fff0,
        #1eaf80
    );
        width: 140px;
        height: 40px;
        transition: 0.4s;
        border: none;
        border-radius: 20px;
    }
    #next:hover{
        background: radial-gradient(
        circle,
        #59f0ca,
        #1eaf80
    );
        width: 180px;
        height: 65px;
        transition: 0.3s;
        cursor: pointer;
        border-radius: 10px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .containers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #selectAttack{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ninja-card{
        transition: all 0.5s;
        width: 140px;
        height: 80px;
        background: linear-gradient(
            #42baff,
            #007FFF
        );
        color: white;
        padding: 10px;
        box-sizing: border-box;
        margin: 5px;
        border-radius: 12px;
        border: none;
        display: flex;
        border: none;
    }
    .ninja-card:hover{
        width: 140px;
        height: 80px;
        background: linear-gradient(
            #42baff,
            #007FFF
        );
        color: white;
        padding: 10px;
        box-sizing: border-box;
        margin: 5px;
        border-radius: 12px;
        border: none;
        display: flex;
        border: none;
    }
    input:checked + label{
        width: 150px;
        background: radial-gradient(
            circle,
            #30e2ff,
            #176b99
        );
        color: black;
        box-shadow: 0 6px 11px 3px #000;
        transition: 0.3s;
        margin: 7px;
        border-radius: 12px;
    }
    .imgs{
        width: 55px;
    }
}